.header-search {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  justify-content: left;
}
.product-list {
  position: absolute;
  right: 20px;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  /* list-style: none; */
  max-height: 400px;
  max-width: 300px;
  overflow-x: auto;
  background-color: white;
  z-index: 1;
}

.product-frame {
   /* width: 300px;
  height: 100px;  */
  /* margin: 20px; */
  /* text-align: center; */
  /* box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2); */
  border-radius: 10px;
  overflow: hidden;
 /* align-items: center; */
  /* background-color: aliceblue; */
}

.product-frame img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  float: left;
}

.product-frame h3 {
  /* line-height: 10px; */
    margin: 10px 0;
  font-size: 13px;
  font-weight: bold;
}

.product-frame p {
  font-size: 13px;
  color: gray;
}
.product-frame hr {
  width: 100%;
}
.not-found {
  margin: 10px 30px 0 0;
  font-size: 14px;
  color: black;
  /* background-color: black; */
 
}
