*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.footer{
    width: 1280px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
ul li{
    text-decoration: none;
    list-style: none;
}
h6{
text-align: center;
}
